button {
    font-size: 1em;
    border: 2px solid white;
    background-color: #001fab;
    color: #fff;
    cursor: pointer;
    border-radius: 0.25em;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    outline: 0;
    margin: 2px 5px 2px 0;

}

button:hover {
    background-color: #2341c9;
}

@keyframes glowing {
    0% {
      background-color: #2578fc;
      box-shadow: 0 0 5px #2578fc;
    }
    50% {
      background-color: #83adff;
      box-shadow: 0 0 15px #83adff;
    }
    100% {
      background-color: #2578fc;
      box-shadow: 0 0 5px #2578fc;
    }
}

#shiprightButton {
    animation: glowing 1300ms infinite;
}

#shiprightButton:hover {
    background-color: #accaff;
    box-shadow: 0 0 10px #accaff;
    animation: none;
}

button.close {
    position: absolute;
    margin: 10px;
    padding: 2px 5px 0;
    top: 0;
    right: 0;
    background-color: red;
}

button.close:hover {
    background-color: #747475;
}

.top-button-toolbar {
    position: absolute;
    top: 0;
    right: 60px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.feedback-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    margin: 2px;
}

button.circle {
    font-size: 2em;
    width: 2em;
    height: 2em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

#clearMap {
    background-color: #bf0000;
    font-weight: 600;
    width: 100%;
    max-width: 8rem;
}

#clearMap:hover {
    background-color: #fa0505;
}

#feedbackIcon {
    width: 1.5em;
    height: 1.5em;
    margin: 0.12em -0.2em;
}

#slackButton {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 5px;
}

#slackButton:hover {
    background-color: #dfdfdf;
}

#slackLogo {
    width: 1.4em;
    height: 1.4em;
    padding: 0.2em 0;
}

.feedback-tooltip-text {
    max-width: 200px;
}

#closeButton {
    display: block;
    margin: auto;
}

button.large {
    padding: 0 20px;
    font-size: 1.5em;
}
