<!DOCTYPE HTML>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Learney Prototype</title>
    <link rel="icon" href="{% static 'images/favicon_new-32x32.png' %}">
    <link rel="stylesheet" href="{% static 'css_v021_000/main.css' %}">
    <link rel="stylesheet" href="{% static 'css_v021_000/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css_v021_000/tooltip.css' %}">
    <link rel="stylesheet" href="{% static 'css_v021_000/intro.css' %}">
    <link rel="stylesheet" href="https://cdn.auth0.com/js/auth0-samples-theme/1.0/css/auth0-theme.min.css"/>
    <meta xmlns="http://www.w3.org/1999/xhtml">
    <meta name="title" property="og:title" content="Learney Prototype" />
    <meta name="image" property="og:image" content="https://app.learney.me/static/images/2021/05/19/learney_background.png" />
    <meta property="og:image:url" content="https://app.learney.me/static/images/2021/05/19/learney_background.png" />
    <meta property="og:image:secure_url" content="https://app.learney.me/static/images/2021/05/19/learney_background.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://app.learney.me" />
    <meta name="description" property="og:description" content="The online learning platform designed to help you efficiently take your own path." />
    <meta id="static-root" data-name="{% static '/' %}">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--    Context from Django-->
    {{ userdata|json_script:"userdata" }}
    {{ map_uuid|json_script:"map_uuid" }}
    {{ map_version|json_script:"map_version" }}
    {{ allow_suggestions|json_script:"allow_suggestions" }}

    <!-- STAGING - Google Analytics -->
<!--    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4F72V4175C"></script>-->
<!--    <script>-->
<!--      window.dataLayer = window.dataLayer || [];-->
<!--      function gtag(){dataLayer.push(arguments);}-->
<!--      gtag('js', new Date());-->

<!--      gtag('config', 'G-4F72V4175C');-->
<!--    </script>-->

    <!-- PROD Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PDX7JSVWKR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PDX7JSVWKR');
    </script>

    <!-- Hotjar Tracking Code -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2402210,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Search bar library -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>
    {% csrf_token %}
    <div id="cy"></div>

    <!--Profile stuff-->
    <div class="overall-profile-div disable-touch-actions">

        <div class="profile-image-container">
            <div id="profile-image-button">
                {% if userdata.name != "" %}
                <img class="profile-image" src="{{ userdata.picture }}" style="background-color:transparent;" alt="Profile Picture"/>
                {% else %}
                <img class="profile-image" src="{% static 'images/user.svg' %}" alt="Profile Picture"/>
                {% endif %}
            </div>
        </div>
        <div id="profile-div">
            {% if userdata.name != "" %}
            <h2>Welcome, {{ userdata.name }}!</h2>
            <h5 class="profile-email" >{{ userdata.email }}</h5>
            <button id="log-out">Logout</button>
            {% else %}
            <h2>Welcome!</h2>
            <button id="log-in" class="large flashing">Log In</button>
            {% endif %}
        </div>
    </div>


    <div class="top-button-toolbar disable-touch-actions">
        <div class="intro-button-container">
            <button class="large" id="open-intro" >Intro</button>
            <button class="suggestion-button" id="make-suggestion" >Make Suggestion</button>
        </div>
        <label id="concept-search-bar-label">
            <select id="concept-search-bar" name="concept" style="width: 100%;"></select>
        </label>
        <div class="button-toolbar-div">
            <button id="save-layout" >Save Map</button>
            <button id="reset-layout" >Reset Layout</button>
            <button id="run-dagre" >Auto-generate Layout</button>
            <button id="reset-progress" >Reset Progress</button>
            <button id="reset-pan" >Centre View</button>
        </div>
    </div>


    <div class="feedback-buttons disable-touch-actions">
        <button class="circle flashing" id="feedback-button">
            <img src="{% static 'images/feedback_icon.png' %}" id="feedbackIcon" alt="Feedback icon">
        </button>
        <button class="circle" id="slack-button">
            <img src="{% static 'images/slack_logo.png' %}" id="slackLogo" alt="Slack logo">
        </button>
<!--        <button class="circle feedback" id="feedbackButton" onclick="window.open('mailto:henrypulver13@gmail.com?subject=Feedback about Learney&cc=matthewphillips5320@googlemail.com','_blank')">?</button>-->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.18.2/cytoscape.min.js" integrity="sha512-CBGCXtszkG5rYlQSTNUzk54/731Kz28WPk2uT1GCPCqgfVRJ2v514vzzf16HuGX9WVtE7JLqRuAERNAzFZ9Hpw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.5/dagre.min.js" integrity="sha512-psLUZfcgPmi012lcpVHkWoOqyztollwCGu4w/mXijFMK/YcdUdP06voJNVOJ7f/dUIlO2tGlDLuypRyXX2lcvQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.3.2/cytoscape-dagre.min.js"></script>
    <script src="https://unpkg.com/tippy.js@2.0.9/dist/tippy.all.js"></script>
    <script src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://unpkg.com/cytoscape-popper@1.0.2/cytoscape-popper.js"></script>
    <script type="module" src="{% static 'js_v021_003/main.js' %}"></script>
</body>
</html>
